<a href="https://colab.research.google.com/github/036takashima/pandas-kindle/blob/main/PandasSpeed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# file = pd.read_csv('/content/drive/MyDrive/ColabNotebooks/pandas-kindle/data/sample.csv')

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [1]:
import csv
with opne("test_r.csv", mode="r", encoding="utf-8") as fp:
  # Readerを取得
  csv_reader = csv.reader(fp)
  # ループで行ごとにリストで取得できます
  for row in csv_reader:
    print(row)

NameError: ignored